{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false
      }
    ],
    ["module-resolver", { 
      "alias": {
        "~": "./src"
      }
    }]  
  ]
} 